a {
  text-decoration: none
}

a:hover {
  text-decoration: underline
}


a {
  color: #186ad4
}

a:hover {
  color: #186ad4
}


.sidenote {
  border-right: solid 1px;
}

.notion-page-content-inner aside, .notion-page-content-inner .footnotes {
  font-size: 16px;
  font-size: 0.88889rem;
  line-height: 28px;
  line-height: 1.55556rem;
  padding: 14px;
  padding: 0.77778rem
}

.notion-page-content-inner .footnotes>ol {
  padding-left: 1em;
  margin-top: 28px;
  margin-top: 1.55556rem
}

/*
.notion-page-content-inner aside {
  background: #e1e1e1
}
*/

.notion-page-content-inner aside .ref-mark {
  float: left;
  margin-right: 0.4em;
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 28px;
  line-height: 1.55556rem;
  position: relative;
  top: -5px;
  top: -0.27778rem
}

.notion-page-content-inner aside .ref-mark+* {
  margin-top: 0px;
  margin-top: 0rem
}

.notion-page-content-inner aside *:last-child {
  margin-bottom: 0px;
  margin-bottom: 0rem
}

/*
.notion-page-content-inner aside+aside {
  margin-top: 28px;
  margin-top: 1.55556rem
}
*/


@media (min-width: 1360px) {
  .notion-page-content-inner aside {
    float: left;
    clear: left;
    width: 300px;
    margin-right: -300px;
    position: relative;
    right: 320px;
  }
}
