/* SIZING ON BIGGER SCREENS */

@media (min-width: 1360px) {
  .notion-page-content-inner aside {
    float: left;
    clear: left;
    width: 12.5rem;
    margin-right: -12.5rem;
    position: relative;
    right: 13rem;
  }
}


/* STYLING SIDE NOTES */

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub { 
  top: 0.4em; 
}

.sidenote {
  border-right: solid 1px;
  top: 2rem; /*about the height of the breadcrumbs*/
}

.notion-page-content-inner aside, .notion-page-content-inner .footnotes {
  font-size: .8rem;
  line-height: 1;
  padding: 0.77778rem
}

.notion-page-content-inner .footnotes>ol {
  padding-left: 1rem;
  margin-top: 2rem;
  margin-top: 1rem
}

/*
.notion-page-content-inner aside {
  background: #e1e1e1
}
*/

.notion-page-content-inner aside .ref-mark {
  float: left;
  margin-right: 0.4rem;
  font-size: .8rem;
  line-height: 1;
  position: relative;
  top: -.5rem;
}

.notion-page-content-inner aside .ref-mark+* {
  margin-top: 0px;
  margin-top: 0rem
}

.notion-page-content-inner aside *:last-child {
  margin-bottom: 0px;
  margin-bottom: 0rem
}

/*
.notion-page-content-inner aside+aside {
  margin-top: 28px;
  margin-top: 1.55556rem
}
*/


